#board {
    display: flex;
    background-color: lightcyan;
    justify-content: center;
    flex-direction: column;
    height: 700px;
    width: 600px;
    margin: auto;
    border-radius: 25px;
    box-shadow: 1px 1px 30px black;
}